<h1>Index Session</h1>
<% @sessions.each do |session| %>
  <div class="card">
    <li><%= session.title %></li>
    <li><%=  session.description %></li>
    <li><%= session.start_time %></li>
    <li><%= session.level %></li>
  </div>
<% end %>

<div id="map"
  style="width:100%; height: 300px;"
  data-marker="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
