<div class="animated fadeInLeft mapbox-popup-flexbox">
  <div class="mapbox-popup-info" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= cl_image_path sport_session.activity.photo.key %>);">
    <div class="mapbox-popup-info-header">
      <h3 class="text-center mt-2"><%= image_tag ("#{sport_session.activity.name.downcase}-picto.png"), class: "info-window-icon" %> <%= sport_session.activity.name %></h3>
      <p class="text-left font-weight-bold mt-2"><%= sport_session.description %></p>
      <div class="info-window-levels text-left mt-2">
        <span class="text-center mb-0">level</span>
        <% if sport_session.level == "beginner" %>
          <div class="info-window-level first full"></div>
          <div class="info-window-level"></div>
          <div class="info-window-level last"></div>
        <% elsif sport_session.level == "intermediate" %>
          <div class="info-window-level first full"></div>
          <div class="info-window-level full"></div>
          <div class="info-window-level last"></div>
        <% else %>
          <div class="info-window-level first full"></div>
          <div class="info-window-level full"></div>
          <div class="info-window-level last full"></div>
        <% end %>
      </div>
    </div>
    <div class="mapbox-popup-bottom">
      <div class="d-flex justify-content-around">
        <div>
          <img src="/assets/calendar.png" height="32px" width="32px">
          <p><%= sport_session.start_time.strftime("%-d %b %Y") %></p>
        </div>
        <div class="info-window-capacity">
          <p>
            <% accepted_users_count = sport_session.session_users.where(status: "accepted").count.times do %>
              <i class="fas fa-user"></i>
            <% end %>
            <% if accepted_users_count < sport_session.capacity %>
                <% (sport_session.capacity - accepted_users_count).times do %>
                  <i class="far fa-user"></i>
                <% end %>
              <% if (sport_session.capacity - accepted_users_count)==1 %>
                <p style="padding-top: 6px;">   <%= (sport_session.capacity - accepted_users_count)%> place left</p>
              <% else %> <p style="padding-top: 6px;">   <%= (sport_session.capacity - accepted_users_count)%> places left</p>
              <% end %>
            <% else %> <p style="padding-top: 6px;"> Complete</p>
            <% end %>
          </p>
        </div>
      </div>
      <p id="info-window-location"><i class="fas fa-map-marker-alt"></i> <%= sport_session.location %></p>


    </div>

  </div>
    <%= link_to "more info", sport_session_path(sport_session), class: "btn btn-gom btn-map" %>
  <div class="mapbox-popup-arrow"></div>
</div>

