<div class="animated fadeInLeft mapbox-popup-animation">
  <div class="mapbox-popup-info">
    <div class="zoom-background" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= cl_image_path sport_session.activity.photo.key %>);">
    </div>
    <div class="mapbox-popup-sport-session">
      <h2 class="text-center mt-2"><%= image_tag ("#{sport_session.activity.name.downcase}-picto.png"), class: "info-window-icon" %> <%= sport_session.activity.name %></h2>
        <p class="text-center font-weight-lighter mt-2"><em>"<%= sport_session.description %>"</em></p><br>
      <div class="info-window-levels text-center mt-2">
        <% if sport_session.level == "beginner" %>
          <div class="info-window-levels-pictos">
            <div class="info-window-level-content">
              <p>Beginner</p>
              <div class="arrow-level"></div>
              <div class="info-window-level first full"></div>
            </div>
            <div class="info-window-level-content">
              <div class="info-window-level"></div>
            </div>
            <div class="info-window-level-content">
              <div class="info-window-level last"></div>
            </div>
          </div>
        <% elsif sport_session.level == "intermediate" %>
          <div class="info-window-levels-pictos">
            <div class="info-window-level-content">
              <div class="info-window-level first full"></div>
            </div>
            <div class="info-window-level-content">
              <p>Intermediate</p>
              <div class="arrow-level"></div>
              <div class="info-window-level full"></div>
            </div>
            <div class="info-window-level-content">
              <div class="info-window-level last"></div>
            </div>
          </div>
        <% else %>
          <div class="info-window-levels-pictos">
            <div class="info-window-level-content">
              <div class="info-window-level first full"></div>
            </div>
            <div class="info-window-level-content">
              <div class="info-window-level full"></div>
            </div>
            <div class="info-window-level-content">
              <p>Expert</p>
              <div class="arrow-level"></div>
              <div class="info-window-level full last"></div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="mapbox-popup-bottom">
        <div class="mapbox-popup-bottom-item">
          <img src="/assets/calendar.png" height="32px" width="32px">
          <p><%= sport_session.start_time.strftime("%-d %b %Y") %></p>
        </div>
        <div class="info-window-capacity mapbox-popup-bottom-item">
          <p>
            <% accepted_users_count = sport_session.session_users.where(status: "accepted").count.times do %>
              <i class="fas fa-user"></i>
            <% end %>
            <% if accepted_users_count < sport_session.capacity %>
                <% (sport_session.capacity - accepted_users_count).times do %>
                  <i class="far fa-user"></i>
                <% end %>
              <% if (sport_session.capacity - accepted_users_count)==1 %>
                <p style="padding-top: 6px;">   <%= (sport_session.capacity - accepted_users_count)%> place left</p>
              <% else %> <p style="padding-top: 6px;">   <%= (sport_session.capacity - accepted_users_count)%> places left</p>
              <% end %>
            <% else %> <p style="padding-top: 6px;"> Complete</p>
            <% end %>
          </p>
        </div>
        <div class="mapbox-popup-bottom-item">
          <p id="info-window-location"><i class="fas fa-map-marker-alt"></i> <%= sport_session.location %></p>
        </div>
      </div>
    </div>
    <%= link_to "more info", sport_session_path(sport_session), class: "btn btn-gom btn-map" %>
  </div>
  <div class="mapbox-popup-arrow"></div>
</div>

