<div class="animated fadeInLeft mapbox-popup-animation">
  <div class="mapbox-popup-info">
    <div class="zoom-background" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url(<%= cl_image_path sport_session.activity.photo.key %>);">
    </div>
    <div class="mapbox-popup-sport-session">
      <div class="mapbox-popup-header">
        <h1 class="text-center mt-2"><%= show_svg("#{sport_session.activity.name.downcase}.svg") %> <%= sport_session.activity.name %></h1>
        <p class="text-center font-weight-lighter mt-2"><em>"<%= sport_session.description %>"</em></p>
      </div>
      <div class="info-window-levels text-center mt-2">
        <% if sport_session.level == "beginner" %>
          <div class="info-window-levels-pictos">
            <div class="info-window-level-content">
              <p>Beginner</p>
              <div class="arrow-level"></div>
              <div class="info-window-level first full"></div>
            </div>
            <div class="info-window-level-content">
              <div class="info-window-level"></div>
            </div>
            <div class="info-window-level-content">
              <div class="info-window-level last"></div>
            </div>
          </div>
        <% elsif sport_session.level == "intermediate" %>
          <div class="info-window-levels-pictos">
            <div class="info-window-level-content">
              <div class="info-window-level first full"></div>
            </div>
            <div class="info-window-level-content">
              <p>Intermediate</p>
              <div class="arrow-level"></div>
              <div class="info-window-level full"></div>
            </div>
            <div class="info-window-level-content">
              <div class="info-window-level last"></div>
            </div>
          </div>
        <% else %>
          <div class="info-window-levels-pictos">
            <div class="info-window-level-content">
              <div class="info-window-level first full"></div>
            </div>
            <div class="info-window-level-content">
              <div class="info-window-level full"></div>
            </div>
            <div class="info-window-level-content">
              <p>Expert</p>
              <div class="arrow-level"></div>
              <div class="info-window-level full last"></div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="mapbox-popup-bottom">
        <div class="mapbox-popup-bottom-item text-center">
          <div class="mapbox-popup-bottom-item-top">
            <!-- <img src="/assets/calendar.png" height="30px" width="30px"> -->
            <%= image_tag "calendar.png"%>
          </div>
          <p><%= sport_session.start_time.strftime("%-d %b %Y") %></p>
        </div>
        <div class="info-window-capacity mapbox-popup-bottom-item text-center">
          <div class="mapbox-popup-bottom-item-top">
            <% accepted_users_count = sport_session.session_users.where(status: "accepted").count.times do %>
                <i class="fas fa-user"></i>
            <% end %>
            <% if accepted_users_count < sport_session.capacity %>
                <% (sport_session.capacity - accepted_users_count).times do %>
                  <i class="far fa-user"></i>
                <% end %>
            <% end %>
          </div>
          <% if (sport_session.capacity - accepted_users_count) == 1 %>
              <p><%= (sport_session.capacity - accepted_users_count)%> place left</p>
            <% elsif (sport_session.capacity - accepted_users_count) > 1%>
              <p><%= (sport_session.capacity - accepted_users_count)%> places left</p>
          <% else %>
            <p> Complete</p>
          <% end %>
        </div>
        <div class="mapbox-popup-bottom-item text-center">
          <div class="mapbox-popup-bottom-item-top">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <p><%= sport_session.location.truncate(20) %></p>
        </div>
      </div>
    </div>
    <%= link_to "MORE INFO", sport_session_path(sport_session), class: "btn btn-gom btn-map" %>
  </div>
  <div class="mapbox-popup-arrow hide-tablet"></div>
</div>

