<div class="container mt-5 bg-white">
  <h1><%= @sport_session.title %></h1>

  Session Members:
  <div class="session-members">
    <% @relevant_session_users.each do |session_user| %>

      <!-- Differenciate session owner -->
      <% if session_user.owner %>
        <div class="session-member">
          <img src="https://www.outsideonline.com/sites/default/files/styles/img_600x600/public/migrated-images_parent/migrated-images_68/kelly-slater-in-france_s.jpg" alt="" class="avatar d-block">
          <b><%= @sport_session_owner.username %> <%= "(owner)"  %></b>
        </div>
      <% else %>

        <!-- Differenciate accepted session members -->
        <% if session_user.status == "accepted" %>
          <div class="session-member">
            <img src="https://www.outsideonline.com/sites/default/files/styles/img_600x600/public/migrated-images_parent/migrated-images_68/kelly-slater-in-france_s.jpg" alt="" class="avatar d-block">
            <%= session_user.user.username %>
          </div>

        <!-- Differenciate pending requests session members -->
        <% elsif session_user.status == "pending" %>
          <div class="session-member">
            <img src="https://www.outsideonline.com/sites/default/files/styles/img_600x600/public/migrated-images_parent/migrated-images_68/kelly-slater-in-france_s.jpg" alt="" class="avatar d-block">
            (pending: <%= session_user.user.username %>)
        <% end %>
      <% end %>
    <% end %>
  </div>
  <li><b>Infos:</b> <%=  @sport_session.description %></li>
  <li><b>Start Time:</b> <%= @sport_session.start_time %></li>
  <li><b>Level:</b> <%= @sport_session.level %></li>

  <!-- Show "join" option only if you are not owner of the sport session -->
  <% if @sport_session_owner != current_user %>

    <!-- Show "join" option only if session is not complete -->
    <% if @sport_session.users.count < @sport_session.capacity %>

      <!-- Show "pending request", if you already requested to join this session -->
      <% if @current_relevant_session_user && @current_relevant_session_user.status == "pending" %>
        <li>PENDING REQUEST</li>

      <!-- Show "join" option  -->
      <% else %>
        <li><%= link_to "Join!", sport_session_session_users_path(params[:id]), method: "post", class: "btn btn-gom" %></li>
      <% end %>

    <!-- Show "session complet" if session is complete  -->
    <% else %>
      <li><b>SESSION COMPLETE...</b></li>
    <% end %>
  <% end %>


  <h2># Chat</h2>
  <div class=<%= @current_relevant_session_user && @current_relevant_session_user.status == "accepted" ? "" : 'chatroom-channel' %>>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% if @chatroom.messages %>
        <% @chatroom.messages.each do |message| %>
          <div class="message-container">
            <i class="author">
              <span><%= message.user.username %></span>
              <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
            </i>
            <p><%= message.content %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= simple_form_for [ @sport_session, @chatroom, @message ] do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
    <% end %>
  </div>
</div>
