<div id="<%= "navbar-homepage" if params[:action] == "home" %>" class="navbar navbar-expand-sm navbar-lewagon fixed-top border-bottom <%= params[:action] == "home" ? "navbar-dark" : "navbar-light" %>">
  <div class="navbar-content">
    <div class="navbar-brand">
      <%= link_to root_path do %>
        <% if params[:action] == "home" %>
          <%= show_svg('gom-logo.svg') %>
        <% else %>
          <%= image_tag("GOMLogo.png") %>
          <span class="text-logo">G<span>O</span>M</span>
        <% end %>
      <% end %>
    </div>



    <div class="search flex-grow-1" data-user-id="<%= current_user.id if current_user %>">
      <%= form_tag sport_sessions_path, method: :get, novalidate: "novalidate", class: "simple_form search"  do %>
        <div class="search-form-control form-group mb-0">
          <%= text_field_tag :query,
              params[:query],
              class: "search-input form-control string required",
              class: "search_query",
              style: "text-align: left",
              placeholder: "Find your next session",
              value: params[:query]
          %>

          <%= button_tag(type: "submit", class: "btn btn-gom") do %>
            <i class="fas fa-search"></i> Search
          <% end %>
        </div>
      <% end %>
    </div>

    <% if user_signed_in? %>



      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <button data-toggle="modal" data-target="#sport-session-creation-modal" class="btn-add-sesh">Create a Session</button>
          <li class="notifs dropdown" id="dropdown-notifications">
            <i class="far fa-bell fa-2x dropdown-toggle hide-mobile" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          </li>
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle hide-mobile", id: "navbarDropdownAvatar", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right mobile-navbar-dropdown" aria-labelledby="navbarDropdownAvatar">
            <%= link_to "Dashboard", dashboards_path, class: "dropdown-item" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </ul>
      </div>

    <% else %>
      <div class="navbar-login">
        <%- if controller_name != 'sessions' && controller_name != 'registrations'%>
          <button data-toggle="modal" data-target="#login-modal" class="btn btn-black">login</button>
          <button data-toggle="modal" data-target="#signup-modal" class="btn btn-black">sign up</button>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if params[:controller] == "sport_sessions" && params[:action] == "index" %>
    <%= render 'shared/search_filters' %>
  <% end %>
</div>


<% if params[:controller] == "sport_sessions" && params[:action] == "index" %>
  <div style="height:122px;"></div>
<% elsif params[:action] != "home" %>
  <div style="height:87px;"></div>
<% end %>
