<div class="container-filters bg-white border-top">
  <!-- select one (or several) activities tag among all activities available at this location-->
  <div class="filters">

  <% if params[:activity] %>
    <%= link_to sport_sessions_path(request.query_parameters.except(:activity)), class: "btn filter filter-selected" do %>
      <%= @sport_sessions.find_by(activity: params[:activity]).activity.name %> <i class="fas fa-times"></i>
    <% end %>
  <% else %>
    <div class="filter activity-filters dropdown">
      <button class="btn filter-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Activities
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% activities = [] %>
        <% @sport_sessions.each do |sport_session| %>
          <% activities << sport_session.activity %>
        <% end %>
        <% activities.uniq.each do |activity| %>
          <% request.query_parameters[:activity] = activity %>
          <%= link_to sport_sessions_path(request.query_parameters), class: "dropdown-item" do %>
            <%= activity.name %>
          <% end %>
          <% request.query_parameters.except!(:activity) %>
        <% end %>
      </div>
    </div>
  <% end %>


  <% if params[:level] %>
    <%= link_to sport_sessions_path(request.query_parameters.except(:level)), class: "btn filter filter-selected" do %>
      <%= @sport_sessions.find_by(level: params[:level]).level %> <i class="fas fa-times"></i>
    <% end %>
  <% else %>
    <div class="filter level-filters dropdown">
      <button class="btn filter-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Level
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% levels = [] %>
        <% @sport_sessions.each do |sport_session| %>
          <% levels << sport_session.level %>
        <% end %>
        <% levels.uniq.each do |level| %>
          <% request.query_parameters[:level] = level %>
          <%= link_to sport_sessions_path(request.query_parameters), class: "dropdown-item" do %>
            <%= level %>
          <% end %>
          <% request.query_parameters.except!(:level) %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if params[:start_time] %>
    <%= link_to sport_sessions_path(request.query_parameters.except(:start_time)), class: "btn filter filter-selected" do %>
      <%= @sport_sessions.find_by(start_time: params[:start_time]).start_time %> <i class="fas fa-times"></i>
    <% end %>
  <% else %>
    <div class="filter level-filters dropdown">
      <button class="btn filter-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Start Time
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% dates = [] %>
        <% @sport_sessions.each do |sport_session| %>
          <% dates << sport_session.start_time %>
        <% end %>
        <% dates.uniq.each do |start_time| %>
          <% request.query_parameters[:start_time] = start_time %>
          <%= link_to sport_sessions_path(request.query_parameters), class: "dropdown-item" do %>
            <%= start_time.strftime("%-d %b %Y") %>
          <% end %>
          <% request.query_parameters.except!(:start_time) %>
        <% end %>
      </div>
    </div>
  <% end %>


  </div>

    <%= link_to sport_sessions_path, class: "clear-filters" do %>
      Clear All Filters
    <% end %>
</div>

