

<!-- Modal -->
<div class="modal fade new-sesh" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
            <h2>Sign up</h2>

            <%= simple_form_for(@new_user, as: :user, url: registration_path(:user)) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" }%>
                <%= f.input :password,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                            required: true,
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :photo, input_html: {value:'../../assets/images/avatar-placeholder.jpg'} %>
                <%= f.input :username %>
              </div>

              <div class="form-actions mb-3">
                <%= f.button :submit, "Sign up", class: "btn-gom w-100"%>
              </div>
            <% end %>
            <%= link_to "Log in", new_session_path(:user) %><br />
            <%= link_to "Forgot your password?", new_password_path(:user) %><br />
        </div>
      </div>
    </div>
  </div>
</div>

