


<!-- Modal -->
<div class="modal fade new-sesh" id="sport-session-creation-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Sport Session</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container form-container">
          <%= simple_form_for(@sport_session) do |f| %>
            <%= f.input :title, placeholder: "Maxi Sesh !" %>
            <%= f.input :description, as: :text, placeholder: "Add your description ..." %>

            <label class="select optional" for="sport_session_location">Where</label>
            <input type="text" name="sport_session[location]" id="sport_session[location]" value="" style="text-align: left; position: relative; vertical-align: top; width: 100%" class="search_query" placeholder="Anywhere">

            <fieldset class="form-group radio_buttons optional sport_session_level">
              <input type="hidden" name="sport_session[capacity]">
              <label class="select optional" for="sport_session_capacity">Number of Riders <b><span class="rider-count"></span></b></label>
              <div class="capacity-choices">
                <% SportSession::CAPACITY.each_with_index do |capacity, i| %>
                  <input class="d-none" type="radio" value="<%= capacity %>" name="sport_session[capacity]" id="sport_session_capacity_<%= capacity %>">
                  <label class="form-check-label collection_radio_buttons capacity-choice" data-capacity="<%= i + 1 %>" for="sport_session_capacity_<%= capacity %>"><i class="far fa-user"></i></label>
                <% end %>
              </div>
            </fieldset>

            <fieldset class="form-group radio_buttons optional sport_session_level">
              <input type="hidden" name="sport_session[level]" value="">
              <label class="select optional" for="sport_session_capacity">Level</label>
              <div class="level-choices">
                <% SportSession::LEVEL.each_with_index do |level, i| %>
                  <input class="d-none level-input" type="radio" value="<%= level %>" name="sport_session[level]" id="sport_session_level_<%= level %>">
                  <label class="form-check-label collection_radio_buttons level-choice" data-level="<%= i + 1 %>" for="sport_session_level_<%= level %>"><%= level %></label>
                <% end %>
              </div>
            </fieldset>


            <fieldset class="form-group required">
              <input type="hidden" name="sport_session[activity_id][]" value="">

              <div class="activity-choices">
                <% Activity.all.each do |activity| %>
                  <input class="d-none required" type="radio" value="<%= activity.id %>" name="sport_session[activity_id]" id="sport_session_activity_id_<%= activity.id %>">
                  <label class="form-check-label-activity d-flex collection_radio_buttons activity-choice" for="sport_session_activity_id_<%= activity.id %>">
                    <%= image_tag "#{activity.name.downcase}-picto.png", class:"icon-small" %>
                    <%= activity.name %>
                  </label>
                <% end %>
              </div>
            </fieldset>

        </div>
      </div>
            <%= f.input :start_time, as: :string, input_html: { class: "datepickr sport-session-creation" }, placeholder:"mm/dd/yyyy" %>
            <%= f.submit class: 'btn btn-gom btn-submit btn-lg btn-block' %>
            <% end %>
    </div>
  </div>
</div>

