<div class="dashboard-container container mt-5 d-flex">
  <div class="dashboards-left-container">
    <div class="left-dashboard">
      <h2><%=  current_user.username %></h2>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar-large" %>
      <% else %>
        <%= image_tag('avatar-placeholder.jpg', crop: :fill, class: "avatar-large") %>
      <% end %>
      <div class="sessions-navigation d-flex justify-content-around">
        <p><%= current_user.session_users.where(owner: true).count %> / <%= current_user.session_users.count %> sessions organised</p>
      </div>
      <div class="container-dashboard-calendar">
        <p>Your Schedule</p>
        <% dates = current_user.sport_sessions.map { |sport_session| sport_session.start_time.to_s } %>
        <% sport_session_id = current_user.sport_sessions.map { |sport_session| sport_session.id } %>
        <input type="text" class="dashboard-calendar d-none" data-dates="<%= dates %>" data-id="<%= sport_session_id %>">
      </div>
    </div>
  </div>

<!-- recoller ici ancien code -->

  <div class="right-dashboard">
    <div class="right-dashbd-top-elements" >
      <h2>Sessions recap</h2>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item"><a class="nav-link active" id="home-tab" data-toggle="tab"
          href="#home" role="tab" aria-controls="home" aria-selected="true">
          <i class="fas fa-bolt" aria-hidden="true"></i>
          <%= pluralize_without_count(@next_sessions.count, 'Next Session') %></a></li>
        <li class="nav-item"><a class="nav-link" id="profile-tab" data-toggle="tab"
          href="#profile" role="tab" aria-controls="profile" aria-selected="false">
          <i class="fas fa-history" aria-hidden="true"></i>
          <%= pluralize_without_count(@past_sessions.count, 'Past Session') %></a></li>
      </ul>
    </div>

    <div class="tab-content right-dashbd-bot-elements" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <% if @next_sessions %>
              <% sorted_next_sessions = @next_sessions.sort_by {|ss| ss.start_time} %>
              <% sorted_next_sessions.each do |session| %>
                  <%= link_to sport_session_path(session), class:"text-decoration-none" do %>
                    <ul id="sessions-list-next" class="d-flex justify-content-between">
                      <div class="session-infos">
                        <li class ="li-nxt-session session-title"><%= session.title %></li>
                        <li class ="li-nxt-session"><i class="fas fa-hand-peace fa-fw"></i></i><strong>Description:</strong><%= " #{session.description}" %></li>
                        <li class ="li-nxt-session"><i class="fas fa-users fa-fw"></i><b>Capacity:</b><%= " #{session.capacity}" %></li>
                        <li class ="li-nxt-session"><i class="fas fa-skull-crossbones fa-fw"></i><b>Level:</b><%= " #{session.level}" %></li>
                        <li class ="li-nxt-session"><i class="fas fa-calendar-alt fa-fw"></i><%= "Starting from #{session.start_time.strftime("%-d %b %Y")}" %></li>
                      </div>
                      <div class="session-users-avatars">
                        <% session.session_users.reverse.each do |session_user| %>
                          <% if session_user.owner %>
                            <%= cl_image_tag session_user.user.photo.key, crop: :fill, class: "avatar-small owner" %>
                          <% else %>
                            <%= cl_image_tag session_user.user.photo.key, crop: :fill, class: "avatar-small" %>
                          <% end %>
                        <% end %>
                      </div>
                    </ul>
                  <% end %>
              <% end %>
            <% end %>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <% if @past_sessions %>
              <% sorted_past_sessions = @past_sessions.sort_by {|ss| ss.start_time}.reverse %>
                <% sorted_past_sessions.each do |session| %>
                  <%= link_to sport_session_path(session), class:"text-decoration-none" do %>
                    <ul id="sessions-list-past" class="d-flex justify-content-between">
                      <div class="session-infos">
                        <li ><%= session.title %></li>
                        <li ><i class="fas fa-hand-peace"></i><b>Description:</b><%= " #{session.description}" %></li>
                        <li ><i class="fas fa-users"></i><b>Capacity:</b><%= " #{session.capacity}" %></li>
                        <li ><i class="fas fa-skull-crossbones"></i><b>Level:</b><%= " #{session.level}" %></li>
                        <li ><i class="fas fa-calendar-alt"></i><%= "Starting from #{session.start_time.strftime("%-d %b %Y")}" %></li>
                      </div>
                      <div class="session-users-avatars">
                        <% session.session_users.reverse.each do |session_user| %>
                          <% if session_user.owner %>
                            <%= cl_image_tag session_user.user.photo.key, crop: :fill, class: "avatar-small owner" %>
                          <% else %>
                            <%= cl_image_tag session_user.user.photo.key, crop: :fill, class: "avatar-small" %>
                          <% end %>
                        <% end %>
                      </div>
                    </ul>
                  <% end %>
                <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>

