<div class="container mt-5">
  <div class="user-profile">
    <h2><%=  current_user.username %></h2>
    <%= image_tag "https://www.outsideonline.com/sites/default/files/styles/img_600x600/public/migrated-images_parent/migrated-images_68/kelly-slater-in-france_s.jpg", crop: :fill, class: "avatar-large" %>

  </div>

  <div class="next-sessions">
    <h3>Next sessions</h3>
    <% current_sessions = current_user.sport_sessions %>
    <% current_sessions.each do |session| %>
      <% if session.start_time >= Date.today  %>
        <ul class="sessions-list">
          <li><%= session.title %></li>
          <li><%= "Description: #{session.description}" %></li>
          <li><%= "Capacity: #{session.capacity}" %></li>
          <li><%= "Level: #{session.level}" %></li>
          <li><%= "Starting from #{session.start_time.strftime("%-d %b %Y")}" %></li>
        </ul>
      <% end %>
    <% end %>
  </div>

  <div class="past-sessions">
    <h3>Past sessions</h3>
    <% past_sessions = current_user.sport_sessions %>
    <% past_sessions.each do |session| %>
      <% if session.start_time < Date.today  %>
        <ul class="sessions-list">
          <li><%= session.title %></li>
          <li><%= "Description: #{session.description}" %></li>
          <li><%= "Capacity: #{session.capacity}" %></li>
          <li><%= "Level: #{session.level}" %></li>
          <li><%= "Starting from #{session.start_time.strftime("%-d %b %Y")}" %></li>
        </ul>
      <% end %>
    <% end %>
  </div>

  <div class="owned-sessions">
    <h3>Sessions I Own</h3>
    <% if @current_user_owned_sessions %>
      <% @current_user_owned_sessions.each do |session| %>
        <ul class="sessions-list">
          <li><%= session.title %></li>
          <li><%= "Description: #{session.description}" %></li>
          <li><%= "Capacity: #{session.capacity}" %></li>
          <li><%= "Level: #{session.level}" %></li>
          <li><%= "Starting from #{session.start_time.strftime("%-d %b %Y")}" %></li>
          <li><b>Requests:</b>
            <ul>
              <% session.session_users.each do |request| %>
                <% if request.status == "pending" %>
                  <li>1 request from: <%= request.user.username %> | <%= link_to "accept", accept_session_user_path(request) %> | <%= link_to "reject", reject_session_user_path(request) %></li>

                <% end %>
              <% end %>
            </ul>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>

